In [1]:
import pandas as pd
import re

In [2]:
def clean_code(code):
	"""Удаляет пробелы и оставляет только цифры"""
	if pd.isna(code): return None
	return re.sub(r'\D', '', str(code))

In [3]:
def get_parent(code):
	"""Создает родительский код для иерархии"""
	if not code: return None
	code_len = len(code)
	if code_len == 10:
		return code[:6]
	elif code_len > 6:
		return code[:6]
	elif code_len == 6:
		return code[:4]
	elif code_len == 5:
		return code[:4]
	elif code_len == 4:
		return code[:2]
	return None

In [2]:
df = pd.read_csv('../media/tnved/tnved_codes.csv')

In [6]:
df.unit.unique()

array(['кг'], dtype=object)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13138 entries, 0 to 13137
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         13138 non-null  int64
 1   description  13138 non-null  object
 2   unit         13138 non-null  object
 3   unit2        5204 non-null   object
 4   parent_code  13138 non-null  int64
dtypes: int64(2), object(3)
memory usage: 513.3+ KB

In [4]:
df1 = pd.read_json('customs_data.json')
df2 = pd.read_json('customs_data_part2_v2.json')

In [26]:
df1.rename(columns=
{
	0: 'code',
	1: 'description',
	2: 'unit',
	3: 'unit2'
}, inplace=True
)

In [25]:
df2.rename(columns=
{
	0: 'code',
	1: 'description',
	2: 'unit',
	3: 'unit2'
}
	, inplace=True)

In [36]:
df1["code"] = df1["code"].astype(str).str.zfill(10)
df2['code'] = df2['code'].astype(str).str.zfill(10)

In [38]:
# Приводим code к строке, чтобы сравнение было корректным
df1["code"] = df1["code"].astype(str)

# Находим индекс строки, где code == "6204291800"
cut_index = df1.index[df1["code"] == "6204291800"][0]

# Оставляем только строки ДО этой строки
df = df1.iloc[:cut_index]

In [45]:
df1.tail()

            code                                        description unit unit2
6995  6204221000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
6996  6204228000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
6997  6204231000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
6998  6204238000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
6999  6204291100  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт

In [46]:
df2.head(10)

         code                                        description unit unit2
0  6204291800  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
1  6204299000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
2  6204310000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
3  6204321000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
4  6204329000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
5  6204331000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
6  6204339000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
7  6204391100  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
8  6204391900  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт
9  6204399000  Костюмы, комплекты, жакеты, блайзеры, платья, ...   кг    шт

In [42]:
df1 = df

In [43]:
df1["code"] = df1["code"].astype(str).str.zfill(10)
df2["code"] = df2["code"].astype(str).str.zfill(10)

/tmp/ipykernel_6216/4041164697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["code"] = df1["code"].astype(str).str.zfill(10)

In [47]:
df_full = pd.concat([df1, df2], ignore_index=True)

In [52]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13138 entries, 0 to 13137
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         13138 non-null  object
 1   description  13138 non-null  object
 2   unit         13138 non-null  object
 3   unit2        5204 non-null   object
 4   parent_code  13138 non-null  object
dtypes: object(5)
memory usage: 513.3+ KB

In [51]:
df_full['parent_code'] = df_full['code'].apply(get_parent).astype(str)

In [53]:
df_full.to_csv('tnved_codes.csv', index=False)